In [1]:
import pandas as pd
df = pd.read_csv('aug_train.csv')

In [2]:
print("=== 각 열의 결측치 개수 ===")
print(df.isnull().sum())

=== 각 열의 결측치 개수 ===
enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [3]:
m_value = df.isnull()
print(m_value)
print(m_value.sum())

       enrollee_id   city  city_development_index  gender  \
0            False  False                   False   False
1            False  False                   False   False
2            False  False                   False    True
3            False  False                   False    True
4            False  False                   False   False
...            ...    ...                     ...     ...
19153        False  False                   False   False
19154        False  False                   False   False
19155        False  False                   False   False
19156        False  False                   False   False
19157        False  False                   False    True

       relevent_experience  enrolled_university  education_level  \
0                    False                False            False
1                    False                False            False
2                    False                False            False
3                    False                 True            False
4                    False                False            False
...                    ...                  ...              ...
19153                False                False            False
19154                False                False            False
19155                False                False            False
19156                False                False            False
19157                False                False            False

       major_discipline  experience  company_size  company_type  last_new_job  \
0                 False       False          True          True         False
1                 False       False         False         False         False
2                 False       False          True          True         False
3                 False       False          True         False         False
4                 False       False         False         False         False
...                 ...         ...           ...           ...           ...
19153             False       False          True          True         False
19154             False       False          True          True         False
19155             False       False         False         False         False
19156              True       False         False         False         False
19157              True       False          True          True         False

       training_hours  target
0               False   False
1               False   False
2               False   False
3               False   False
4               False   False
...               ...     ...
19153           False   False
19154           False   False
19155           False   False
19156           False   False
19157           False   False

[19158 rows x 14 columns]
enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [4]:
missing_gender = df['gender'].isnull().sum()
print("성별 정보 결측치 수:" , missing_gender)

성별 정보 결측치 수: 4508

In [6]:
missing_experience = df['experience'].isna().sum()
print("근무 경력 결측치 수:", missing_experience)

근무 경력 결측치 수: 65

In [9]:
both_missing = df[df['gender'].isnull() & df['education_level'].isnull()]
print("성별과 교육 수준이 모두 결측치인 지원자 수:", len(both_missing))

성별과 교육 수준이 모두 결측치인 지원자 수: 201

In [10]:
print("원본 데이터프레임 크키:", df.shape)
df_dropna = df.dropna()
print("결측치 제거 후 데이터프레임 크키:", df_dropna.shape)

원본 데이터프레임 크키: (19158, 14)
결측치 제거 후 데이터프레임 크키: (8955, 14)

In [12]:
df_thresh = df.dropna(thresh=12)
print("임계값 적용 후 데이터프레임 크기:", df_thresh.shape)

임계값 적용 후 데이터프레임 크기: (16327, 14)

In [13]:
df_dropna_rows = df.dropna(axis=0, how='all')
print("원본 데이터프레임의 행 개수:", df.shape[0])
print("모든 값이 결측치인 행 제거 후 행 개수:", df_dropna_rows.shape[0])

원본 데이터프레임의 행 개수: 19158
모든 값이 결측치인 행 제거 후 행 개수: 19158

In [14]:
df_dropna_columns = df.dropna(axis=1, how='all')
print("원본 데이터프레임의 열 개수:", df.shape[1])
print("모든 값이 결측치인 열 제거 후 열 개수:", df_dropna_rows.shape[1])

원본 데이터프레임의 행 개수: 14
모든 값이 결측치인 행 제거 후 행 개수: 14

In [15]:
df_dropna_any = df.dropna(axis=0, how='any')
print("원본 데이터프레임의 행 개수:", df.shape[0])
print("결측치가 있는 행 제거 후 행 개수:", df_dropna_any.shape[0])
print("제거된 행의 수:", df.shape[0] - df_dropna_any.shape[0])

원본 데이터프레임의 행 개수: 19158
결측치가 있는 행 제거 후 행 개수: 8955
제거된 행의 수: 10203

In [17]:
missing_ratio = df['company_type'].isnull().sum() / len(df) * 100
print("company_type 열의 결측치 비율: {:.2f}%".format(missing_ratio))
df_drop_company_type = df.drop(columns=['company_type'])
print("열 제거 후 데이터프레임 크기: ", df_drop_company_type.shape)

company_type 열의 결측치 비율: 32.05%
열 제거 후 데이터프레임 크기:  (19158, 13)

In [19]:
df = pd.DataFrame({
    'A': [1, None, 3, None, 5],
    'B': [None, 2, None, 4, None]
})
print("원본 데이터프레임:")
print(df)

원본 데이터프레임:
     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  NaN
3  NaN  4.0
4  5.0  NaN

In [20]:
df_filled = df.fillna(0)
print("결측치를 0으로 대체한 데이터프레임:")
print(df_filled)

결측치를 0으로 대체한 데이터프레임:
     A    B
0  1.0  0.0
1  0.0  2.0
2  3.0  0.0
3  0.0  4.0
4  5.0  0.0

In [21]:
values = {'A': df['A'].mean(), 'B': df['B'].median()}
df_filled_columns = df.fillna(value=values)
print("열마다 다른 값으로 결측치를 대체한 데이터프레임:")
print(df_filled_columns)

열마다 다른 값으로 결측치를 대체한 데이터프레임:
     A    B
0  1.0  3.0
1  3.0  2.0
2  3.0  3.0
3  3.0  4.0
4  5.0  3.0

In [22]:
values = {'A': df['A'].mean(), 'B': df['B'].median()}
df_filled_columns_limit = df.fillna(value=values, limit=1)
print("대체 횟수를 1로 지정하고 열마다 다른 값으로 결측치를 대체한 데이터프레임:")
print(df_filled_columns_limit)

대체 횟수를 1로 지정하고 열마다 다른 값으로 결측치를 대체한 데이터프레임:
     A    B
0  1.0  3.0
1  3.0  2.0
2  3.0  NaN
3  NaN  4.0
4  5.0  NaN

In [23]:
df.fillna(0, inplace=True)
print("원본 데이터프레임을 수정해 결측치를 0으로 대체한 결과:")
print(df)

원본 데이터프레임을 수정해 결측치를 0으로 대체한 결과:
     A    B
0  1.0  0.0
1  0.0  2.0
2  3.0  0.0
3  0.0  4.0
4  5.0  0.0

In [24]:
import pandas as pd
df = pd.read_csv('aug_train.csv')
df['gender'] = df['gender'].fillna('Not Specified')
print("gender 열 결측치를 Not Specified로 대체한 데이터프레임:")
print(df['gender'].value_counts())

gender 열 결측치를 Not Specified로 대체한 데이터프레임:
gender
Male             13221
Not Specified     4508
Female            1238
Other              191
Name: count, dtype: int64

In [25]:
df['education_level'] = df['education_level'].fillna('Unknown')
print(df['education_level'].value_counts())

education_level
Graduate          11598
Masters            4361
High School        2017
Unknown             460
Phd                 414
Primary School      308
Name: count, dtype: int64

In [26]:
df['experience'] = df['experience'].fillna(0)
print("experience 열의 결측치를 0으로 대체한 데이터프레임:")
print(df['experience'].value_counts())

experience 열의 결측치를 0으로 대체한 데이터프레임:
experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
0        65
Name: count, dtype: int64